.container {
  color: yellow;
}

.controls {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.controls .search {
  padding: 0.4rem;
  border-radius: 0.5rem;
  border: 1px solid yellow;
  background: #232323;
  color: yellow;
}

.controls .search:focus,
.controls .search:active {
  outline: none;
  box-shadow: 0 0 0 2px yellow;
}

.controls .search::placeholder {
  color: yellow;
  opacity: 0.5;
}

.controls .sort {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 2px;
  background-color: yellow;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input + .slider {
  background-color: red;
}

input:checked + .slider {
  background-color: green;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(18px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
